<span>
  <h2 style="text-align: center;" >{{ site.title }}</h2>
</span>
<nav role="navigation">
  <ul>
    <li><a href="{{ site.url }}" {% if page.url == "{{ site.url }}" %}class="active"{% endif %}>Index</a></li>
    <li><a href="{{ '/notes' | prepend: site.url }}" {% if page.url == "{{ '/notes' | prepend: site.url }}" %}class="active"{% endif %}>Notes</a></li>
    <li><a href="{{ '/about' | prepend: site.url }}" {% if page.url == "{{ '/about' | prepend: site.url }}" %}class="active"{% endif %}>About</a></li>
    <li><a href="{{ '/projects' | prepend: site.url }}" {% if page.url == "{{ '/projects' | prepend: site.url }}" %}class="active"{% endif %}>Projects</a></li>
  </ul>
</nav>
